include README.rst
include setup.cfg
include pyproject.toml
include requirements.txt
include environment.yml
include contributors.md
include popsycle/tests/coveragerc

recursive-include popsycle *.py *.npz *.yaml *.rst
recursive-include docs *
recursive-include licenses *

prune build
prune dist
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
